*.feather
*.csv
*.tsv
*.npy
*.png
*.zip
*.json
.Rproj.user
.spyproject
*__pycache__
.httr-oauth
*yeti_in
**tasks.yml
*data_release/tmp
*fig_1/yeti_sync
*fig_2/yeti_sync
*fig_3/yeti_sync
*fig_3/VM_shared_cache
.Rhistory
*.remake
*.RDS
!lake_metadata_table.csv
